.Finances-Field {
    border: none;
    background: rgba(0, 0, 0, .25);
    color: #fdfdfd;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 100%;
    transition: all .2s linear;
}
.Finances-Field:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    outline: none;
}
.Finances-Error {
    color: #ff8080
}
.Finances-Btn {
    background: #00cc99;
    color: #fdfdfd;
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
}
.Finances-Btn:hover {
    cursor: pointer;
}